
/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navigation{
    text-align: center;
    margin: auto;
    -webkit-text-fill-color: white;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25%);
    }
    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .buttons{
        -webkit-text-fill-color: black;
    }
    .btn{
        margin-bottom:5px;
        -webkit-text-fill-color: black;
    }
    .diceroller-field{
        width: 100%;
        -webkit-text-fill-color: black;
    }
}
