<div class="container">
    <h1>Custom Monsters</h1>
    <p>
        Here you can add your own custom monsters.
    </p>
    <hr>

    <div class="row">
        <div class="col-md">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>CR</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let monster of resourceService.customMonsters" (click)="selected = monster">
                        <td>{{monster.name}}</td>
                        <td>{{monster.challenge_rating}}</td>
                        <td>
                            <i class="fas fa-times-circle fa-2x delete-icon" (click)="removeMonster(monster)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-primary" routerLink="/monsters/custom/create" style="margin-right:1%">Add New Monster</button>

        </div>
        <div class="col-md">
            <button type="button" class="btn btn-success" (click)="downloadMonsters()" style="margin-right:1%">
                <i class="fas fa-download"></i> Export</button>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-upload"></i> Import</button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>Upload or Drop Custom Monster JSON file here (WARNING: Overrides already set custom monsters! Export
                        before you import)</p>
                    <input class="import-field" type="file" (change)="fileUpload($event)" id="fileDrop" />
                </div>
            </div>

            <app-monster-card [monster]="selected"></app-monster-card>

        </div>
    </div>
</div>