.body-content {
    padding-left: 5%;
    padding-right: 5%;
}
@media (min-width: 768px) {
    .body-content {
        margin-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }
}
.nav-col{
    height:100%;
    margin:0px;
    padding:0px;
}