<div style="padding: 10%;">
  <h1>Privacy Policy</h1>
  <h5>What data we collect</h5>
  <p>D&D 5e DM Tools is an angular web application that uses localstorage to store data (similar to cookies). This process is completely client-side
    and none of this data is forwarded to any server, api, third party, or even to the owner of this site.
    All Data that is collected stays on your computer (in the browser). Therefore, we do not process user data.
    The data that is stored locally in your cache includes:
  </p>
  <ul>
    <li>
      The parties that the user creates, and the one he/she has set as active.
    </li>
    <li>
      The encounters that the user creates.
    </li>
    <li>
      The Custom spells and monsters that the user adds to their respective lists.
    </li>
  </ul>
  <p><i>This data can be deleted from your browser by clearing your browser cache.</i></p>
  <p>No third-party plugin, library, or extension is used that could track the user's data, with the exception of the <a href="https://cookieconsent.insites.com/documentation/about-cookie-consent/">cookie-consent</a> footer.</p>
  <h5>What we do with your data</h5>
  <p>The locally stored data is used only and purely for the functioning of the web-app for the above-mentioned reasons. Nothing more.</p>
</div>