.start-button{
    -webkit-text-fill-color: white;
}
.grayout{
    height:200px;
    background: rgba(0, 0, 0, 0.1);
    margin:2%;
    padding:2%;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}
.flex-item{
    text-align: center;
}
table{
    border-collapse: collapse;
}
tr, td, th{
    padding: 5px;
}
.fa-toggle-on{
    color:green;
}
.fa-toggle-off{
    color:gray;
}