<h1>D&D 5e Spellbook</h1>

<p>See all spells</p>
<hr />

<div class="row">
    <div class="btn-group px-3" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-info" disabled>Sort by </button>

        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{sortOrder}}
                </button>
                <div #sort class="dropdown-menu" aria-labelledby="#btnGroupDrop1">
                    <a *ngFor="let sort of sortables" class="dropdown-item" style="cursor: pointer;" (click)="sortBy(sort, sortOrderFlip)">{{sort}}</a>
                </div>
            </div>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{sortOrderFlip}}
                </button>
                <div #order class="dropdown-menu" aria-labelledby="#btnGroupDrop2">
                    <a class="dropdown-item" style="cursor: pointer;" (click)="sortBy(sortOrder, 'desc')">Descending</a>
                    <a class="dropdown-item" style="cursor: pointer;" (click)="sortBy(sortOrder, 'asc')">Ascending</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Search bar -->
    <input #searchbar class="form-control" style="width: 20%;" type="text" placeholder="Search..." value="" (keyup)="filterSpells(searchbar.value)">

    <!-- Class selector -->
    <div class="btn-group px-3" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-info" disabled>Class: </button>

        <div class="btn-group" role="group">
            <button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{sortClass}}
            </button>
            <div #sort class="dropdown-menu" aria-labelledby="#btnGroupDrop3">
                <a class="dropdown-item" style="cursor: pointer;" (click)="filterSpells(searchbar.value,'All')">All</a>
                <a *ngFor="let class of classes" class="dropdown-item" style="cursor: pointer;" (click)="filterSpells(searchbar.value,class)">{{class}}</a>
            </div>
        </div>
    </div>

    <!-- Layout -->
    <i [ngClass]="!layoutRow ? 'fas fa-bars fa-2x layoutButton' : 'fas fa-th-large fa-2x layoutButton'" (click)="layoutRow = !layoutRow"></i>
</div>

<div [ngClass]="layoutRow ? 'row': ''" *ngIf="loaded == true; else loading">
    <div *ngFor="let spell of filteredSpells" [ngClass]="layoutRow ? 'card card-row' : 'card'" style="margin: 3%; background-color:#e4f9ff">
        <div class="card-body">
            <div class="row">
                <div class="col-md">
                    <h3 class="card-title">{{ spell.name }}</h3>
                </div>
                <div class="col-md">
                    <h4 style="float:right">{{spell.page}}</h4>
                </div>
            </div>
            <h5>
                <div *ngIf="spell.level == 'Cantrip'; else noCantrip">
                    {{ spell.school + " "}}
                    <h5 *ngIf="spell.concentration == 'yes'">
                        concentration
                    </h5>
                    <h5 *ngIf="spell.ritual == 'yes'">
                        ritual
                    </h5>
                    {{ spell.level }}
                </div>
                <ng-template #noCantrip>
                    {{ spell.level+" "+spell.school + " "}}
                    <div *ngIf="spell.concentration == 'yes'">
                        concentration
                    </div>
                    <div *ngIf="spell.ritual == 'yes'">
                        ritual
                    </div>
                </ng-template>
            </h5>
            {{ spell.desc }}
            <br />
            <i>{{ spell.higher_level }}</i>
            <br />
            <hr />
            <div class="row">
                <div class="prop">
                    <b>Range</b>
                    <br /> {{ spell.range }}
                </div>
                <div class="prop">
                    <b>Components</b>
                    <br /> {{ spell.components }}
                </div>
                <div class="prop" *ngIf="spell.material != null">
                    <b>Materials</b>
                    <br /> {{ spell.material }}
                </div>
                <div class="prop">
                    <b>Duration</b>
                    <br /> {{ spell.duration }}
                </div>
                <div class="prop">
                    <b>Casting time</b>
                    <br /> {{ spell.casting_time }}
                </div>
                <div class="prop" *ngIf="spell.SPclass != null">
                    <b>Classes</b>
                    <br /> {{ spell.SPclass }}
                </div>
                <div class="prop" *ngIf="spell.archetype != null">
                    <b>Archetype</b>
                    <br /> {{ spell.archetype }}
                </div>
                <div class="prop" *ngIf="spell.domains != null">
                    <b>Domains</b>
                    <br /> {{ spell.domains }}
                </div>
                <div class="prop" *ngIf="spell.circles != null">
                    <b>Circles</b>
                    <br /> {{ spell.circles }}
                </div>
                <div class="prop" *ngIf="spell.oaths != null">
                    <b>Oaths</b>
                    <br /> {{ spell.oaths }}
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <img src="assets/images/loading.gif" width="100" height="100" style="display: block; margin: auto;" />
</ng-template>