<div style="padding: 10%;">
    <h1>Welcome</h1>
    <p>This is a tool for Dungeons and Dragons 5th Edition, for Dungeon Masters specifically.</p>
    <ul>
        <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
        <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
        <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    </ul>
    <p>This is a little project I started, so don't expect any serious full-time development, kay?</p>
</div>