<div style="padding: 10%;">
    <h1>Welcome</h1>
    <p>This is a tool for Dungeons and Dragons 5th Edition Dungeon Masters. This is app is completely client-side.</p>
    <h5>Features</h5>
    <ul>
        <li>A list of all monsters in the SRD with the ability to add your own.</li>
        <li>A list of all spells in the SRD and some other open sources (Elemental Evil, etc).</li>
        <li>An encounter tracker in which you can conveniently track initiative during combat, including hp and allies.</li>
        <li>Multiple party set-ups that are importable and exportable</li>
        <li>A neat little dice roller in the sidebar that works on user-specified input, like '1d20' or even '40d100'</li>
    </ul> 
    <h6>Disclaimer</h6>
    <ul>
        <li><i>D&D 5e DM Tools is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. ©Wizards of the Coast LLC.</i></li>
        <li><i>All rules, monsters, and spells in this app are part of the <a href="https://media.wizards.com/2016/downloads/DND/SRD-OGL_V5.1.pdf">D&D 5e SRD and licensed under the Open Gaming License (OGL)</a>.</i></li>
        <li><i>The logo and other images used in this app are from <a href="http://game-icons.net">game-icons.net</a> and licensed under CC BY 3.0.</i></li>
        <li><i>Read our <a routerLink="/privacy-policy">Privacy Policy</a>.</i></li>
    </ul>
</div>