<h1>D&D 5e Encounter Tracker</h1>

<p>Manage your encounters. Set initiative for all PCs and/or roll for the allies and enemies, and then press Start to start
    the encounter. Initiative can be set by clicking on the
    <i class="fas fa-sort-amount-up"></i> icon.</p>
<hr />
<div *ngIf="turnTracker" style="text-align:center">
    <div class="row">
        <div [ngClass]="['card turn', turn == ent ? 'selected' : '']" *ngFor="let ent of turnTracker.list" style="margin:1%; padding-left:1%; padding-right:1%;">
            <h6>{{ent.name}}</h6>
            <p>
                <i>({{ent.initiative}})</i>
            </p>
        </div>
    </div>
    <h4>Round {{ round }}, Turn {{ turnNum }}</h4>
    <h3>{{ turn.name }}'s turn</h3>
</div>
<div *ngIf="turnTracker == undefined; else turnswitch" style="text-align:center">
    <button class="btn btn-primary" (click)="startTracker()">Start</button>
</div>
<ng-template #turnswitch>
    <div class="row">
        <div style="margin:auto;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Add Ally</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <i>Not yet implemented, check back later</i>
            </div>
        </div>
        <button class="btn btn-primary" (click)="nextTurn()" style="padding-left:2rem; padding-right:2rem; margin:auto;">Next turn</button>
        <div style="margin:auto;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Add enemy</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form class="row" (ngSubmit)="submitAddEnemy(init.value, amount.value)" #addEnemyForm="ngForm">
                    <div class="addmonstercol col-lg-4">
                        <input #query name="query" id="query" placeholder="Search..." required [(ngModel)]="enemyToAdd" [typeahead]="monstersForQuery"
                            class="form-control">
                    </div>
                    <div class="addmonstercol col-lg-3">
                        <input #amount type="number" class="form-control" name="amount" id="amount" placeholder="Amount" value=1>
                    </div>
                    <div class="addmonstercol col-lg-3">
                        <input #init type="number" class="form-control" name="init" id="init" placeholder="Initiative" required>
                    </div>
                    <div class="addmonstercol col-lg-2">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<hr>
<div class="row">
    <div class="col-md">
        <h4>Party & Allies</h4>
        <div class="row" *ngIf="!turnTracker && allies.length > 0">
            <button style="margin:1%;" class="btn btn-primary" (click)="generateRollsAllies('indiv')">Roll for all allies</button>
            <button style="margin:1%;" class="btn btn-primary" (click)="generateRollsAllies('group')">Roll for allies as group</button>
        </div>
        <div class="row">
            <div class="card creature" [ngClass]="['card creature', turn == pc ? 'selected' : '']" *ngFor="let pc of party;" [ngStyle]="{'background':'rgba(224,144,133,' + (1 - pc.health_percentage) + ')'}">
                <img src="assets/images/swordman.svg" class="entity-icon" style="text-align: center">
                <h4 style="text-align: center">{{pc.name}}</h4>
                <h6 style="text-align: center">
                    <i>{{pc.PCclass + ' level ' + pc.level}}</i>
                </h6>
                <div class="row" style="margin: auto">
                    <div>
                        <button class="change-stat-button" popover="Armor Class" [outsideClick]="true">
                            <i class="fas fa-shield-alt fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{pc.armor_class}}</b>
                        <br>
                    </div>
                    <div>
                        <button class="change-stat-button" [popover]="popHP" popoverTitle="Hitpoints" [outsideClick]="true">
                            <i class="fas fa-heart fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{pc.hit_points}} </b>
                        <br>
                    </div>
                    <div *ngIf="turnTracker == undefined; else initLabel">
                        <button type="button" class="change-stat-button" [popover]="popInit" popoverTitle="Initiative" [outsideClick]="true">
                            <i class="fas fa-sort-amount-up fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{pc.initiative}} </b>
                        <br>
                    </div>
                    <div>
                        <button type="button" class="change-stat-button" popover="Passive Perception" [outsideClick]="true">
                            <i class="fas fa-eye fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{pc.passive_perception}} </b>
                        <br>
                    </div>

                    <ng-template #popHP>
                        <input #hpchange type="number" name="hpchange" id="hpchange" value="{{pc.hit_points}}" (keyup.enter)="setHP(pc, hpchange.value);">
                    </ng-template>

                    <ng-template #popInit>
                        <input #init *ngIf="turnTracker == undefined; else initLabel" type="number" name="init" id="init-{{ pc.name }}" placeholder="Init"
                            value="{{pc.initiative}}" (keyup.enter)="setInit(pc, init.value)">
                    </ng-template>

                    <ng-template #initLabel>
                        <div>
                            <button type="button" class="change-stat-button" disabled>
                                <i class="fas fa-sort-amount-up fa-lg" style="margin-right: 5px;"></i>
                            </button>
                            <br>
                            <b> {{pc.initiative}} </b>
                            <br>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div [ngClass]="['card creature', turn == ally ? 'selected' : '']" *ngFor="let ally of allies" (click)="showMonster(ally)"
                [ngStyle]="{'background':'rgba(224,144,133,' + (1 - ally.health_percentage) + ')'}">
                <img src="assets/images/ally-minion.svg" class="entity-icon">
                <h4 style="text-align: center">{{ally.name}}</h4>
                <h6 style="text-align: center">
                    <i>{{ally.type + ' CR ' + ally.challenge_rating}}</i>
                </h6>
                <div class="row" style="margin: auto">
                    <div>
                        <button class="change-stat-button" popover="Armor Class" [outsideClick]="true">
                            <i class="fas fa-shield-alt fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{ally.armor_class}}</b>
                        <br>
                    </div>
                    <div>
                        <button class="change-stat-button" [popover]="popHP" popoverTitle="Hitpoints" [outsideClick]="true">
                            <i class="fas fa-heart fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{ally.hit_points}} </b>
                        <br>
                    </div>
                    <div *ngIf="turnTracker == undefined; else initLabel">
                        <button type="button" class="change-stat-button" [popover]="popInit" popoverTitle="Initiative" [outsideClick]="true">
                            <i class="fas fa-sort-amount-up fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{ally.initiative}} </b>
                        <br>
                    </div>
                    <div>
                        <button type="button" class="change-stat-button" popover="Passive Perception" [outsideClick]="true">
                            <i class="fas fa-eye fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{ally.passive_perception}} </b>
                        <br>
                    </div>

                    <ng-template #popHP>
                        <input #hphange type="number" name="hpchange" id="hpchange" value="{{ally.hit_points}}" (keyup.enter)="setHP(ally, hpchange.value);">
                    </ng-template>

                    <ng-template #popInit>
                        <input #init *ngIf="turnTracker == undefined; else initLabel" type="number" name="init" id="init-{{ ally.name }}" placeholder="Init"
                            value="{{ally.initiative}}" (keyup.enter)="setInit(ally, init.value)">
                    </ng-template>

                    <ng-template #initLabel>
                        <div>
                            <button type="button" class="change-stat-button" disabled>
                                <i class="fas fa-sort-amount-up fa-lg" style="margin-right: 5px;"></i>
                            </button>
                            <br>
                            <b> {{ally.initiative}} </b>
                            <br>
                        </div>


                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md">
        <h4>Enemies</h4>
        <div class="row" *ngIf="!turnTracker">
            <button style="margin:1%;" class="btn btn-primary" (click)="generateRollsEnemies('indiv')">Roll for all enemies</button>
            <button style="margin:1%;" class="btn btn-primary" (click)="generateRollsEnemies('group')">Roll for enemies as group</button>
        </div>
        <div class="row">
            <div class="card creature" [ngClass]="['card creature', turn == enemy ? 'selected' : '']" *ngFor="let enemy of enemies" (click)="showMonster(enemy)"
                [ngStyle]="{'background':'rgba(224,144,133,' + (1 - enemy.health_percentage) + ')'}">
                <img src="assets/images/enemy-minion.svg" class="entity-icon">
                <h5 style="text-align: center">{{enemy.name}}</h5>
                <h6 style="text-align: center">
                    <i>{{enemy.type + ' CR ' + enemy.challenge_rating}}</i>
                </h6>
                <div class="row" style="margin: auto">
                    <div>
                        <button class="change-stat-button" popover="Armor Class" [outsideClick]="true">
                            <i class="fas fa-shield-alt fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{enemy.armor_class}}</b>
                        <br>
                    </div>
                    <div>
                        <button class="change-stat-button" [popover]="popHP" popoverTitle="Hitpoints" [outsideClick]="true">
                            <i class="fas fa-heart fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{enemy.hit_points}} </b>
                        <br>
                    </div>
                    <div *ngIf="turnTracker == undefined; else initLabel">
                        <button type="button" class="change-stat-button" [popover]="popInit" popoverTitle="Initiative" [outsideClick]="true">
                            <i class="fas fa-sort-amount-up fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{enemy.initiative}} </b>
                        <br>
                    </div>
                    <div>
                        <button type="button" class="change-stat-button" popover="Passive Perception" [outsideClick]="true">
                            <i class="fas fa-eye fa-lg" style="margin-right: 5px;"></i>
                        </button>
                        <br>
                        <b> {{enemy.passive_perception}} </b>
                        <br>
                    </div>

                    <ng-template #popHP>
                        <input #hpchange type="number" name="hpchange" id="hpchange" value="{{enemy.hit_points}}" (keyup.enter)="setHP(enemy, hpchange.value);">
                    </ng-template>

                    <ng-template #popInit>
                        <input #init *ngIf="turnTracker == undefined; else initLabel" type="number" name="init" id="init-{{ enemy.name }}" placeholder="Init"
                            value="{{enemy.initiative}}" (keyup.enter)="setInit(enemy, init.value)">
                    </ng-template>

                    <ng-template #initLabel>
                        <div>
                            <button type="button" class="change-stat-button" disabled>
                                <i class="fas fa-sort-amount-up fa-lg" style="margin-right: 5px;"></i>
                            </button>
                            <br>
                            <b> {{enemy.initiative}} </b>
                            <br>
                        </div>

                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<app-monster-card [monster]="selected"></app-monster-card>