.creature{
    width: 170px;
    min-height: 220px;
    background-color: #f4f4e7;
    margin:1%;
}
.turn{
    min-width: 110px;
    max-height: 60px;
    background-color: #e6e6e6;
}
h6{
    margin-bottom: 0px;
}
.selected{
    border:solid;
    border-color:red;
}
.status-button{
    opacity: 0.1;
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;

    &:hover{
        color:green;
        opacity: 1;
        cursor: pointer;
    }
}
.entity-icon{
    margin-top: 10%;
}
.change-stat-button{
    padding: 0px;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.monster{
    height:70px;
    width:70px;
}